<!DOCTYPE html>
<html lang="en" data-layout="horizontal" data-topbar="dark" data-sidebar-size="lg" data-sidebar="light" data-sidebar-image="none" data-preloader="disable">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>

    <!-- jsvectormap css -->
    <link href="~/assets/libs/jsvectormap/css/jsvectormap.min.html" rel="stylesheet" type="text/css" asp-append-version="true" />

    <!--Swiper slider css-->
    <link href="~/assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />

    <!-- Layout config Js -->
    <script src="~/assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <!-- App Css-->
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <!-- custom Css-->
    <link href="~/assets/css/custom.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />

    <style>
        .jvm-tooltip{
            display: none;
        }
    </style>

</head>
<body>

    <div id="layout-wrapper">
        <component type="typeof(ecommerce.dashboards.Pages.Shared.Component.Header.Header)" render-mode="ServerPrerendered" />
        <component type="typeof(ecommerce.dashboards.Pages.Shared.Component.RemoveNotificationModal.RemoveNotificationModal)" render-mode="ServerPrerendered" />
        <component type="typeof(ecommerce.dashboards.Pages.Shared.Component.AppMenu.AppMenu)" render-mode="ServerPrerendered" />
        <component type="typeof(ecommerce.dashboards.Pages.Shared.Component.Overlay.Overlay)" render-mode="ServerPrerendered" />

        <div class="main-content">
            @RenderBody()
            <component type="typeof(ecommerce.dashboards.Pages.Shared.Component.Footer.Footer)" render-mode="ServerPrerendered" />
        </div>
    </div>

    <!--start back-to-top-->
    <component type="typeof(ecommerce.dashboards.Pages.Shared.Component.BackToTop.BackToTop)" render-mode="ServerPrerendered" />
    <!--end back-to-top-->
    <!--preloader-->
    <component type="typeof(ecommerce.dashboards.Pages.Shared.Component.Preloader.Preloader)" render-mode="ServerPrerendered" />

    <component type="typeof(ecommerce.dashboards.Pages.Shared.Component.Settings.Settings)" render-mode="ServerPrerendered" />

    <!-- JAVASCRIPT -->
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/assets/libs/feather-icons/feather.min.js"></script>
    <script src="~/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="~/assets/js/plugins.js"></script>

    <!-- apexcharts -->
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- Vector map-->
    <script src="~/assets/libs/jsvectormap/jsvectormap.min.js"></script>
    <script src="~/assets/libs/jsvectormap/maps/world-merc.js"></script>

    <!--Swiper slider js-->
    <script src="~/assets/libs/swiper/swiper-bundle.min.js"></script>

    <!-- Dashboard init -->
    <script src="~/assets/js/pages/dashboard-ecommerce.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Ckeditor", required: false)
</body>
</html>
